# Entornos y Dependencias
.env
.venv/
venv/
env/
**/packages/
*.nupkg
*.snupkg

# Builds y Compilados
[Bb]in/
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/
build/
dist/
target/
__pycache__/
*.pyc
*.py[cod]
*.class
*.jar
*.war
*.ear

# IDEs y Editores
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
.spyproject
.ropeproject

# Logs y Temporales
*.log
pip-log.txt
*.cache
.DS_Store
Thumbs.db

# Testing y Coverage
.tox/
.coverage*
htmlcov/
.pytest_cache/
*.cover
coverage*.xml

# Python Específico
*.egg-info/
wheels/
.ipynb_checkpoints
.pdm.toml
poetry.toml
.ruff_cache/

# Java Específico
hs_err_pid*
replay_pid*

# C#/.NET Específico
*.pdb
*.ilk
*.iobj

# Bases de Datos (útil para tus proyectos SQL)
*.sqlite3
*.mdf
*.ldf
*.db
*.bak

*.txt
*.docx